<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    
    <ion-row>
      <ion-col size="6" size-xs="12" size-sm="6" *ngFor="let product of favoritosArray; index as i">
        <ion-card [ngClass]="{
          'Frutas_y_Verduras': product.type === 'Frutas y Verduras',
          'Abarrotes': product.type === 'Abarrotes',
          'Limpieza': product.type === 'Limpieza',
          'Farmacia': product.type === 'Farmacia'
        }">
          <img [src]="product.photo + i" alt="">
          <ion-card-header>
            <div class="product-info">
              <ion-card-title>{{ product.name }} 
                <ion-badge color="primary">{{ product.type }}</ion-badge>
              </ion-card-title>
            </div>
            <ion-card-subtitle>{{ product.price | currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ product.description }}<br>
            <ion-row class="botones">
              <ion-button (click)="agregar(product)">Agregar</ion-button>

              <ion-button aria-label="Favorite" class="favorito" (click)="cambiarFavorito(i)">
                <ion-icon [name]= "product.favorite ? 'heart': 'heart-outline'" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-row>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
